<template>
    <div class="mainbox">
        <img class="topgif" src="/static/1.gif" alt="">
        <div class="box" @click="goDetails(1)">
            <img class="icon" src="/static/braveicon.png" alt="">
            <!-- <img class="txt" src="/static/bravetxt.png" alt=""> -->
            <div class="txt"></div>
        </div>
        <div class="box" @click="goDetails(2)">
            <div class="txt"></div>
            <!-- <img class="txt" src="/static/strongtxt.png" alt=""> -->
            <img class="icon" src="/static/strongicon.png" alt="">
        </div>
        <div class="box" @click="goDetails(3)">
            <img class="icon" src="/static/smarticon.png" alt="">
            <div class="txt"></div>
            <!-- <img class="txt" src="/static/smarttxt.png" alt=""> -->
        </div>
        <p class="maintxt">点击图标选择战队</p>
         <img  class="bottomgif" src="/static/2.gif" alt="">
    </div>
</template>

<script>
import {getTeam} from '@/apis'

export default {
    data(){
        return{
            hasTeam:localStorage.getItem('hasTeam'),
            userInfo:''
        }
    },
    mounted(){
        this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
    },
    methods:{
         //获取邀请人的战队信息 -- 一定有战队信息
        _getTeam(openid,ids){
            this.$dialog.loading.open();
            getTeam(openid).then(res=>{
                this.$dialog.loading.close();
                if(res.data.Status){
                    console.log(res.data)
                    this.teamType = res.data.data[0].Category//记录战队类别
                    if(this.teamType == ids){
                        this.$router.push(`/team/join/${ids}`) // 去当前战队详情页
                    }else{
                        this.$router.push(`/team/details/${ids}`)//可以查看其他战队
                    }
                }
            })
        },
        goDetails(ids){
            if(this.hasTeam){
                //有战队的情况
                this._getTeam(this.userInfo.openid,ids)
            }else{
                this.$router.push(`/team/details/${ids}`)
            }
        }

    }
}
</script>

<style lang="less" scoped>
.mainbox{
    padding: 0.5rem 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.box{
    padding: 0 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 2;
}
.icon{
    width: 2.45rem;
    animation: scale 1.5s linear infinite;
}
.txt{
    width: 2.2rem;
    margin-top: 25px;
}
.maintxt{
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    line-height: 40px;
}

</style>
