<template>
    <div class="detailsbg">
        <img class="titleicon" src="/static/defendsea.png" alt="">
        <div v-if="ids == 1">
            <img class="icon" src="/static/braveicon2.png" alt="">
            <div class="box boxbg">
                <p class="title">勇敢战队</p>
                <p class="main">
                    <span>激发勇气值，可解锁海洋神秘大礼包!</span>
                </p>
                <button 
                :class="{'bc-blue-deep':ids == 1,'bc-green-deep':ids == 2,'bc-brown-deep':ids == 3}" 
                class="btn mybutton" @click="showPop(1)">查看礼包详情</button>
            </div>
            <img class="bottomicon" src="/static/circle-b.png" alt=""> 
        </div>
        <div v-if="ids == 2">
            <img class="icon" src="/static/strongicon2.png" alt="">
            <div class="box boxbg2">
                <p  class="title">正义战队</p>
                <p class="main">
                    <span>为保护海洋为爱伸张正义<br/>可解锁海洋神秘大礼包！</span>
                </p> 
                <button 
                :class="{'bc-blue-deep':ids == 1,'bc-green-deep':ids == 2,'bc-brown-deep':ids == 3}" 
                class="btn mybutton" @click="showPop(2)">查看礼包详情</button>
            </div>
            <img class="bottomicon" src="/static/circle-g.png" alt=""> 
        </div>
        <div v-if="ids == 3">
            <img class="icon" src="/static/smarticon2.png" alt="">
            <div class="box boxbg3">
                <p class="title">智慧战队</p>
                <p class="main">
                    <span>加入后智慧能量爆表<br/>可解锁海洋神秘大礼包！</span>
                </p>
                <button 
                :class="{'bc-blue-deep':ids == 1,'bc-green-deep':ids == 2,'bc-brown-deep':ids == 3}" 
                class="btn mybutton" @click="showPop(3)">查看礼包详情</button>
            </div>
            <img class="bottomicon" src="/static/circle-br.png" alt=""> 
        </div>
        <div class="btnbox" v-show="!hasTeam">
            <button v-show="!comfrom" @click="_joinTeam()"
            :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" 
            class="mb-10 mybutton scalgif">加入该战队</button>
            <div v-show="comfrom" class="mb-10">
                <button @click="_joinTeam()" class="mybutton" :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" >组建新战队</button>
                <button v-show="comfrom.ids == ids" @click="goMember()" class="mybutton"  :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" >回到小分队</button>
            </div>
            <button  
            @click="goBack()" 
            class="mybutton"              
            :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" >
            返回</button>
        </div>
        <div class="btnbox" v-show="hasTeam">
            <button  
            @click="goBack()" 
            class="mybutton"              
            :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" >
            返回</button>
        </div>
        <div class="popup" v-show="ispop">
            <div>
                <img v-if="ids == 1" class="mainimg" src="/static/popbrave.png" alt="">
                <img v-if="ids == 2" class="mainimg" src="/static/popstrong.png" alt="">
                <img v-if="ids == 3" class="mainimg" src="/static/popsmart.png" alt="">
                <img @click="close()" class="close" src="/static/close.png" alt="">
            </div>
        </div>
        <comfirm v-show="iscom">
            <button @click="_joinTeam_sure()">确认进入</button>
            <button @click="closeCom()">容我想想</button>
        </comfirm>
    </div>
</template>

<script>
import comfirm from '@/base/comfirm'
import {wxshare} from '@/libs/wxapi'
import {joinTeam} from '@/apis'

export default {
    components:{
        comfirm
    },
    data(){
        return{
            ids:'',
            ispop:false,
            comfrom:'',
            userInfo:'',
            hasTeam:localStorage.getItem('hasTeam'),
            iscom:false
        }
    },
    mounted(){
        this.ids = this.$route.params.ids
        this.comfrom = localStorage.getItem('comfrom') ?  JSON.parse(localStorage.getItem('comfrom')) : ''
        console.log(this.comfrom)
        this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
    },
    methods:{
        showPop(ids){
            this.ispop = true;
        },
        close(){
            this.ispop = false;
        },
        //返回查看其他战队
        goBack(){
            this.$router.push('/team/choice')
        },
        _joinTeam(){
            this.iscom = true;
        },
        closeCom(){
            this.iscom = false;
        },
        //当前用户创建战队（队长）
        _joinTeam_sure(){
            this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
            console.log(this.userInfo)
            let object = new Object()
            object.OpenId = this.userInfo.openid
            object.NickName = this.userInfo.nickname
            object.HeadImgUrl = this.userInfo.headimgurl
            object.Category = this.ids
            object.TeamId = this.userInfo.openid
            this.$dialog.loading.open();
            joinTeam(object).then(res=>{
                this.$dialog.loading.close();
                this.iscom = false;
                console.log(res.data)
                if(res.data.Status){
                    //战队创建成功 记录当前用户战队id
                    localStorage.setItem('hasTeam',this.userInfo.openid)
                    wxshare(this.ids,this.userInfo.openid)//传入队长的openid
                    this.$router.push(`/team/join/${this.ids}`)
                    this.$dialog.toast({
                        mes: res.data.Msg ,
                        timeout: 1500
                    });
                }else{
                    this.$dialog.toast({
                        mes: res.data.Msg ,
                        timeout: 1500
                    });
                }
            })
           
        },
        goMember(){
            this.$router.push({
            path:'/team/member',
              query:{
                ids:this.comfrom.ids,
                teamid:this.comfrom.teamid
              }
            })
        },
        
    }
}
</script>

<style lang="less" scoped>
    .detailsbg{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-top: 0.4rem;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column; 
        box-sizing: border-box;
        position: relative;
        div{z-index: 1;}
    }
    .titleicon{width: 50%;position: relative;z-index: 1;}
    .lightbox{
        position: absolute;
        top: 0;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0!important;
        .light{
            width: 110%;
        }
    }
        
    
    .icon{ width: 40%;z-index: 2;position: relative;}
    .hasTeamicon{ width: 35%;z-index: 2;position: relative;}
    .boxbg{background: url('/static/boxbg.png');}
    .boxbg2{background: url('/static/boxbg2.png');}
    .boxbg3{background: url('/static/boxbg3.png');}
    .box{
        margin:  0 auto;
        width: 75%;
        height: auto;
        background-size: 100% 100%;
        margin-top: -0.6rem;
        padding-top: 0.5rem;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8px;
        font-weight: bolder;
        position: relative;
        .title{font-size: 22px;}
        .hasTeamtitle{font-size: 34px;}
        .main{font-size: 12px;}
        .btn{
            font-size: 12px;line-height: 25px;margin-top: 5px;
        }
        .task{
            position: absolute;
            right: -20px;
            top: -20px;
            width: 1.5rem;
        }
    }
    .bottomicon{width: 90%;margin-top: -0.5rem;}
   

    .popup{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 999;
        display: flex;
        align-items: center;
        div{
            position: relative;
            .mainimg{
                width: 90%;
            }
            .close{
                position: absolute;
                top:15px;
                right: 30px;
                width: 20px;
                height: 20px;
            }
        }
    }

   
</style>
