<template>
    <div class="teambg">
        <router-view></router-view> 
    </div>
</template>

<script>
export default {
    mounted(){
    }
}
</script>

<style>
    .teambg{
        width: 100%;
        height: 100%;
        background: url('https://cfow-q3.gypserver.com/static/teambg.jpg') top;
        background-size: cover;
        overflow: hidden;
    }
</style>
