<template>
    <div class="detailsbg">
        <img class="titleicon" src="/static/defendsea.png" alt="">
        <div class="lightbox">
            <img class="light roate" src="/static/light.png" alt="">
        </div>
        <div v-if="ids == 1">
            <img class="hasTeamicon" src="/static/braveicon2.png" alt="">
            <div class="box boxbg">
                <!-- <img @click="goTask()" class="task" src="/static/task.png" alt=""> -->
                <p class="hasTeamtitle">勇气</p>
                <p class="main">
                    <span>加入勇敢战队，放胆去探索<br/> 寻找更多战友，解锁勇气礼包</span>
                </p>
                <button 
                :class="{'bc-blue-deep':ids == 1,'bc-green-deep':ids == 2,'bc-brown-deep':ids == 3}" 
                class="btn mybutton" @click="showPop(1)">查看礼包详情</button>
            </div>
            <img class="bottomicon" src="/static/circle-b.png" alt=""> 
        </div>
        <div v-if="ids == 2">
            <img class="hasTeamicon" src="/static/strongicon2.png" alt="">
            <div class="box boxbg2">
                <!-- <img @click="goTask()"  class="task" src="/static/task.png" alt=""> -->
                <p class="hasTeamtitle">正义</p>
                <p class="main">
                    <span>加入正义战队，为爱伸张正义<br/> 寻找更多战友，解锁正义礼包</span>
                </p> 
                <button 
                :class="{'bc-blue-deep':ids == 1,'bc-green-deep':ids == 2,'bc-brown-deep':ids == 3}" 
                class="btn mybutton" @click="showPop(2)">查看礼包详情</button>
            </div>
            <img class="bottomicon" src="/static/circle-g.png" alt=""> 
        </div>
        <div v-if="ids == 3">
            <img class="hasTeamicon" src="/static/smarticon2.png" alt="">
            <div class="box boxbg3">
                <!-- <img @click="goTask()" v-show="hasTeam" class="task" src="/static/task.png" alt=""> -->
                <p  class="hasTeamtitle">智慧</p>
                <p class="main">
                    <span>加入智慧战队，用机智保护海洋<br/> 寻找更多战友，解锁智慧礼包</span>
                </p>
                <button 
                :class="{'bc-blue-deep':ids == 1,'bc-green-deep':ids == 2,'bc-brown-deep':ids == 3}" 
                class="btn mybutton" @click="showPop(3)">查看礼包详情</button>
            </div>
            <img class="bottomicon" src="/static/circle-br.png" alt=""> 
        </div>
       
        <div class="btnbox">
             <div class="mb-10">
                <button @click="goNext()"
                :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" 
                class="mybutton scalgif">召唤队友</button>
                <button class="mybutton scalgif" @click="goOut()"            
                :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" >
                购票入场</button>
            </div>
            <button  
            @click="goBack()" 
            class="mybutton"              
            :class="{'bc-blue':ids == 1,'bc-green':ids == 2,'bc-brown':ids == 3}" >
            返回</button>
        </div>
        <div class="popup" v-show="ispop">
            <div>
                <img v-if="ids == 1" class="mainimg" src="/static/popbrave.png" alt="">
                <img v-if="ids == 2" class="mainimg" src="/static/popstrong.png" alt="">
                <img v-if="ids == 3" class="mainimg" src="/static/popsmart.png" alt="">
                <img @click="close()" class="close" src="/static/close.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
import {wxshare} from '@/libs/wxapi'

export default {
    data(){
        return{
            ids:'',
            ispop:false,
            hasTeam:localStorage.getItem('hasTeam'),
        }
    },
    mounted(){
        this.ids = this.$route.params.ids
    },
    methods:{
        showPop(ids){
            this.ispop = true;
        },
        goBack(){
            this.$router.push('/team/choice')
        },
        close(){
            this.ispop = false;
        },      
        //寻找更多队友
        goNext(){
            this.$router.push({
            path:'/team/member',
              query:{
                ids:this.ids,
                teamid:this.hasTeam
              }
            })
        },
        goOut(){  
            // gtag('event', 'toec', {'event_category': 'cfow','event_label': 'click'})
            window.location = 'https://mp.weixin.qq.com/s/vGIJQonkgDDuY31zRgeQ-A'
        },
        //查看任务
        goTask(){
            this.$router.push(`/team/task/${this.ids}`)
        }
    }
}
</script>

<style lang="less" scoped>
    .detailsbg{
        width: 100%;
        height: 100%;

        overflow-y: scroll;
        padding-top: 0.4rem;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column; 
        box-sizing: border-box;
        position: relative;
        div{z-index: 1;}
    }
    .titleicon{width: 50%;position: relative;z-index: 1;}
    .lightbox{
        position: absolute;
        top: 0;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0!important;
        .light{
            width: 110%;
        }
    }
        
    
    .icon{ width: 45%;z-index: 2;position: relative;}
    .hasTeamicon{ width: 35%;z-index: 2;position: relative;}
    .boxbg{background: url('/static/boxbg.png');}
    .boxbg2{background: url('/static/boxbg2.png');}
    .boxbg3{background: url('/static/boxbg3.png');}
    .box{
        margin:  0 auto;
        width: 75%;
        height: auto;
        background-size: 100% 100%;
        margin-top: -0.6rem;
        padding-top: 0.5rem;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8px;
        font-weight: bolder;
        position: relative;
        .title{font-size: 22px;}
        .hasTeamtitle{font-size: 30px;}
        .main{font-size: 12px;}
        .btn{
            font-size: 12px;line-height: 25px;margin-top: 5px;
        }
        .task{
            position: absolute;
            right: -20px;
            top: -20px;
            width: 1.5rem;
        }
    }
    .bottomicon{width: 90%;margin-top: -0.5rem;}
   

    .popup{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 999;
        display: flex;
        align-items: center;
        div{
            position: relative;
            .mainimg{
                width: 90%;
            }
            .close{
                position: absolute;
                top:15px;
                right: 30px;
                width: 20px;
                height: 20px;
            }
        }
    }
   
</style>

