<template>
    <div ref="memberbg" class="memberbg">
        <img class="logo" src="../../assets/logo.png" alt="">
        <div class="topbox">
            <img class="topleft" src="https://cfow-q3.gypserver.com/static/person.png" alt="">
            <div class="topright">
                <img v-if="ids == 1" src="https://cfow-q3.gypserver.com/static/braveicon2.png" alt="">
                <img v-if="ids == 2" src="https://cfow-q3.gypserver.com/static/strongicon2.png" alt="">
                <img v-if="ids == 3" src="https://cfow-q3.gypserver.com/static/smarticon2.png" alt="">
                <p>我的小分队</p>
            </div>
        </div>
         <div class="memberbox">
             <div :class="{'captain':index == 0,'member':index  != 0}" v-for="(item,index) in memberList" :key="index">
                 <img :src="item.HeadImgUrl" alt="">
             </div>
         </div>
         <div class="memberbottom">
             <div :class="{'captaintxt':index == 0,'membertxt':index  != 0}" v-for="(item,index) in memberList" :key="index">
                 {{item.NickName}}
             </div>
         </div>
         <img v-show="members != 5" class="centerbox" src="/static/_onem.png" alt="">
         <img v-show="members == 5 && hasTeam && ids == 1" class="centerbox" src="/static/_fivem1.png" alt="">
         <img v-show="members == 5 && hasTeam && ids == 2" class="centerbox" src="/static/_fivem2.png" alt="">
         <img v-show="members == 5 && hasTeam  && ids == 3" class="centerbox" src="/static/_fivem3.png" alt="">
         <img v-show="members == 5 && !hasTeam" class="centerbox" src="/static/sixm.png" alt="">
          <!-- <p v-show="members != 5" class="txt">
                 欢迎加入
                 <span v-if="ids == 1">勇敢</span>
                 <span v-if="ids == 2">正义</span>
                 <span v-if="ids == 3">智慧</span>
                 战队<br/>还差{{5 - members}}位战友即可解锁<span v-if="ids == 1">勇气</span><span v-if="ids == 2">正义</span><span v-if="ids == 3">智慧</span>礼包！
          </p> -->
          <!-- <p v-show="members == 5">&nbsp;</p> -->
         <!-- <div class="giftbox" >
             <img v-if="ids == 1" class="gift" src="https://cfow-q3.gypserver.com/static/gift.png" alt="">
             <img v-if="ids == 2" class="gift" src="https://cfow-q3.gypserver.com/static/giftstrong.png" alt="">
             <img v-if="ids == 3" class="gift" src="https://cfow-q3.gypserver.com/static/giftsmart.png" alt="">
             <img v-show="members == 5" class="giftblink" src="https://cfow-q3.gypserver.com/static/giftblink.png" alt="">
         </div>
         <div ref="processbg" class="processbg">
            <div ref="percent" class="process">
                <img src="https://cfow-q3.gypserver.com/static/process.png" alt="">
            </div>
            <div class="end">
                <img src="https://cfow-q3.gypserver.com/static/end.png" alt="">
                <span>{{members / 5 * 100}}%</span>
            </div>
         </div>
         <img class="bottom" src="https://cfow-q3.gypserver.com/static/circle-b.png" alt=""> -->
         <div class="btnbox">
             <!-- <div style="height:10px" v-show="members != 5"></div>
             <p v-show="members == 5 && hasTeam" class="success">恭喜组队成功，解锁<span v-if="ids == 1">勇气</span><span v-if="ids == 2">正义</span><span v-if="ids == 3">智慧</span>礼包!<br/>立即截图，随当日门票到长风海洋世界礼品店领取礼包！</p>
             <p v-show="members == 5 && !hasTeam" class="success">战队已满员<br/>快去新建自己的战队</p> -->
             <button @click="showShare(true)" v-show="hasTeam && members != 5" class="memberbtn bc-blue mb-10">召唤队友</button>
             <button  @click="_joinTeam()" v-show="!hasTeam && members != 5" class="memberbtn bc-blue mb-10">加入该战队</button>
             <div class="mb-10">
                 <button @click="goHome()" style="width:auto!important" class="bc-blue mybutton scalgif">了解活动详情</button>
                 <button @click="goOut()" class="bc-blue mybutton scalgif">快速购票</button>
             </div>
             <p v-show="members == 5 && hasTeam" class="success1">上海市普陀区大渡河路451号(长风公园4号门内)</p>
         </div>
         <div v-if="isshow" @click="showShare(false)" class="sharepop">
            <img src="../../assets/share.png" alt="">
         </div>
          <comfirm v-show="iscom">
            <button @click="_joinTeam_sure()">确认进入</button>
            <button @click="closeCom()">容我想想</button>
        </comfirm>
    </div>
</template>

<script>
import comfirm from '@/base/comfirm'
import {getTeam,joinTeam} from '@/apis'
import {wxshare} from '@/libs/wxapi'

export default {
    components:{
        comfirm
    },
    data(){
        return{
            ids:'',
            isshow:false,
            members:'',
            memberList:[{},{},{},{},{}],
            isThisTeam:false,
            userInfo:'',
            hasTeam : localStorage.getItem('hasTeam'),
            iscom:false
        }
    },
    mounted(){
        //background: url(https://cfow-q3.gypserver.com/static/teambg.jpg) top;
       //background-size: cover;
        this.$refs.memberbg.style.background = 'url(https://cfow-q3.gypserver.com/static/teambg.jpg) top'
        this.$refs.memberbg.style.backgroundSize = 'cover'
        // this.$refs.processbg.style.background = 'url(https://cfow-q3.gypserver.com/static/processbg.png) no-repeat'
        // this.$refs.processbg.style.backgroundSize = 'cover'
        var captain = document.getElementsByClassName("captain");
        if(captain){
            for(var idx = 0; idx < captain.length; idx ++){
                var mya = captain[idx];
                mya.style.background = 'url(https://cfow-q3.gypserver.com/static/captain.png) no-repeat'
                mya.style.backgroundSize = '100% 100%'
            }
        }
        var member = document.getElementsByClassName("member");
        if(member){
            for(var idx = 0; idx < member.length; idx ++){
                var mya = member[idx];
               mya.style.background = 'url(https://cfow-q3.gypserver.com/static/member.png) no-repeat'
               mya.style.backgroundSize = '100% 100%'
            }
        }
        this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
        this.ids = this.$route.query.ids//战队类别 1勇敢 2正义 3智慧
        this.teamid = this.$route.query.teamid//战队id
        console.log(this.teamid)
        this.getUserTeam(this.userInfo.openid)//获得当前用户的战队信息
        // this.getUserTeam('oSbJ4jha1MD0s3dkBrcPmn3c9GzY')
    },
    methods:{
         _joinTeam(){
            this.iscom = true;
        },
        closeCom(){
            this.iscom = false;
        },
        goHome(){
            this.$router.push('/home')
        },
        goOut(){
            gtag('event', 'toec', {'event_category': 'cfow','event_label': 'click'})
            window.location = 'https://mp.weixin.qq.com/s/vGIJQonkgDDuY31zRgeQ-A'
        },
        loadImage(){
             console.log("图片加载完成member")
        },
        //分享
        showShare(falg){
            this.isshow = falg
        },
        //获取当前用户的战队信息
        getUserTeam(openid){
            this.$dialog.loading.open();
             getTeam(openid).then(res=>{
                this.$dialog.loading.close();
                if(res.data.Status){
                    //有战队--显示自己的战队 
                    localStorage.setItem('hasTeam',res.data.data[0].TeamId)//当前用户有战队
                    this.hasTeam = localStorage.getItem('hasTeam')
                    wxshare(res.data.data[0].Category,localStorage.getItem('hasTeam'))//微信分享 有战队 
                    this.members = res.data.data.length
                    // this.$refs.percent.style.width = `${this.members / 5 * 100}%`
                    this.ids = res.data.data[0].Category//记录战队类别
                    res.data.data.forEach((item2,index2)=>{
                        this.memberList[index2] = res.data.data[index2]
                    })
                    //判断当前用户res.data.data[0].TeamId 是否属于被邀请人的战队
                    // if(this.teamid == res.data.data[0].TeamId){
                    //     this.isThisTeam = true//当前用户 属于被邀请人的战队
                    // }else{
                    //     //当前用户不属于被邀请人的战队
                    //     this.isThisTeam = false
                    // }
                }else{
                    this._getTeam(this.teamid)//获得邀请人的战队信息或者队长的战队信息
                    //未加入战队
                    // this.isThisTeam = false
                    localStorage.setItem('hasTeam','')//当前用户无战队
                    this.hasTeam = localStorage.getItem('hasTeam')
                    wxshare()//微信分享无战队情况
                }
            })
        },
        //获取邀请人的战队信息 -- 一定有战队信息
        _getTeam(openid){
            this.$dialog.loading.open();
            getTeam(openid).then(res=>{
                this.$dialog.loading.close();
                if(res.data.Status){
                    console.log(res.data)
                    this.members = res.data.data.length
                    // this.$refs.percent.style.width = `${this.members / 5 * 100}%`
                    this.ids = res.data.data[0].Category//记录战队类别
                    res.data.data.forEach((item2,index2)=>{
                        this.memberList[index2] = res.data.data[index2]
                    })
                }else{
                  this.$router.push({path: '/home'})
                }
            })
        },
        //队员加入战队
        _joinTeam_sure(){
            let object = new Object()
            object.OpenId = this.userInfo.openid
            object.NickName = this.userInfo.nickname
            object.HeadImgUrl = this.userInfo.headimgurl
            object.Category = this.ids
            object.TeamId = this.teamid
            this.$dialog.loading.open();
            joinTeam(object).then(res=>{
                this.$dialog.loading.close();
                this.iscom = false;
                console.log(res.data)
                if(res.data.Status){
                    this.getUserTeam(this.teamid)
                    localStorage.setItem('hasTeam',this.teamid)//成功加入战队 记录战队id
                    this.hasTeam = localStorage.getItem('hasTeam')
                    wxshare(this.ids,this.teamid)//传入队长的openid
                    this.$dialog.toast({
                        mes: res.data.Msg ,
                        timeout: 1500
                    });
                }else{
                    this.$dialog.toast({
                        mes: res.data.Msg ,
                        timeout: 1500
                    });
                }
            })
        }
    }
}
</script>

<style lang="less">
.centerbox{
    width: 70%;
    margin: 0.4rem 0;
}
.memberbtn{
    width: 3rem;
    height: 0.7rem;
    padding: 3px 15px;
    color: #ffffff;
    font-size: 0.4rem;
    font-weight: bolder;
    border: none;
    border-radius: 0.2rem;
    z-index: 999;
}
.logo{
    position:absolute;
    width: 15%;
    left: 1.1rem;
    top: 0.3rem;
}
.memberbg{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.topbox{
    width: 90%;
    padding: .34rem .66rem 0 .66rem;
    position: relative;
    .topright{
        width: 22%;
        position: absolute;
        top: 1.4rem;
        right: 0.8rem;
        text-align: center;
        
        img{width: 100%}
        p{color: #ffffff;font-size: .32rem;font-weight: 700; white-space: nowrap;/*不换行*/}
        z-index: 1;
    }
    .topleft{
        width: 100%;
    }
}
.memberbox{
    width: 100%;
    height: 1.5rem;
    margin-top: -0.75rem;
    padding: 0 0.3rem;
    display: flex;
    flex-direction: row;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    .captain{
        width: 1.5rem;
        height: 1.5rem;
        background: url('https://cfow-q3.gypserver.com/static/captain.png') no-repeat;
        background-size: 100% 100%;
        padding: 0.07rem 0 0 0.08rem;
        img{
            width: 1.2rem;
            border-radius: 50%;
        }
    }
    .member{
        width: 1.2rem;
        height: 1.2rem;
        background: url('https://cfow-q3.gypserver.com/static/member.png') no-repeat;
        background-size: 100% 100%;
        padding: 0.06rem 0 0 0.08rem;
        img{
            width: 0.9rem;
            border-radius: 50%;
        }
    }
}

.memberbottom{
     width: 100%;
     padding: 0 0.3rem;
     display: flex;
     flex-direction: row;
    //  margin-top: -5px;
     align-items: center;
    justify-content: space-between;
     .captaintxt{
         width: 1.4rem;
         text-align: center;
         color: #fdd539;
         font-size: 12px;
         font-weight: 700;
     }
     .membertxt{
        width: 1.2rem;
        text-align: center;
         color: #fdd539;
         font-size: 12px;
         font-weight: 700;
         white-space: nowrap;/*不换行*/
         overflow: hidden;
         text-overflow: ellipsis;
         margin-top: -10px;

     }
     
}
.txt{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding-left:  10px;
    // text-align: center;
}
.giftbox{
    width: 50%;
    z-index: 2;
    position: relative;
    .gift{width: 100%}
    .giftblink{
        position: absolute;
        width: 120%;
        top: -0.4rem;
        left: -0.3rem;
    }
}
.processbg{
    width: 75%;
    height: 0.5rem;
    background: url('https://cfow-q3.gypserver.com/static/processbg.png') no-repeat;
    background-size: 100% 100%;
    margin-top: -8px;
    position: relative;
    padding: 1px 0.3rem 1px 0.4rem;
    display: flex;
    z-index: 3;
    .process{
        height: 0.3rem;    
        width: 100%;
        overflow: hidden;
        position: relative;
        img{
            width: 110%;
            height: 0.7rem;    
            position: absolute;
            top: -8px;
            left: -5px;
        }
    }
    .end{
        height: 0.8rem;
        transform: translate(-60%,-25%);
        position: relative;
        span{
            position: absolute;
            top: -5px;
            left: -28px;
            color: #ffffff;
            font-weight: 700;
        }
        img{
            height: 100%;
        }
    }

}
.bottom{
    width: 120%;
    margin-top: -1.3rem;
    position: relative;
    z-index: 1;
}
.blink{
    width: 4.7rem;
    height: 1.2rem;
    background: url('/static/blink.png') center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.btnbox{
    margin-top: 0rem;
    .success{
        color: #ffffff;
        text-align: center;
        font-size: 14px!important;
        font-weight: 700;
        z-index: 3;
        margin-bottom: 10px;
    }
    .success1{
        color: #ffffff;
        text-align: center;
        font-size: 12px!important;
        z-index: 3;
    }
}

.sharepop{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    img{width: 100%;height: 100%;}
}

</style>
