<template>
    <div class="taskbg">
        <img  @click="goDetail(8)" class="task8" src="/static/task/task8.png" alt="">
        <img  @click="goDetail(7)" class="task7" src="/static/task/task7.png" alt="">
        <img  @click="goDetail(6)" class="task6" src="/static/task/task6.png" alt="">
        <img  @click="goDetail(5)" class="task5" src="/static/task/task5.png" alt="">
        <img  @click="goDetail(4)" class="task4" src="/static/task/task4.png" alt="">
        <img  @click="goDetail(3)" class="task3" src="/static/task/task3.png" alt="">
        <img  @click="goDetail(2)" class="task2" src="/static/task/task2.png" alt="">
        <img  @click="goDetail(1)" class="task1" src="/static/task/task1.png" alt="">
        <div class="tasktitle">
            <img src="/static/tasktitle.png" alt="">
        </div>
        <p class="taskp">戳上方数字&nbsp;&nbsp;任务挑战一眼Get</p>
        <button @click="goTeamDetail()" class="bc-blue mybutton taskbutton">加入战队开始探险</button>
    </div>
</template>

<script>
export default {
    mounted(){
     
    },
    methods:{
        goDetail(taskid){
            this.$router.push(`/team/taskdetails/${taskid}`)
        },
        goTeamDetail(){
            this.$router.push('/team/choice')
        }
    }
}
</script>

<style lang="less" scoped>
     .taskbg{
        width: 100%;
        height: 100%;
        margin-top: 0.9rem;
        background: url('/static/taskbg1.png') top;
        background-size: 100%;
        position: relative;
        .task8,.task7,.task6,.task5,.task4,.task3,.task2,.task1{animation: scale 1.5s linear infinite;}
        .tasktitle{
           img{ width: 35%;position: absolute;top: -0.7rem;left: 0.2rem;}
        }
        .task8{
            width: 1.5rem;
            position: absolute;
            left:5rem;
            top: -0.3rem;
        }
        .task7{
            width: 2.1rem;
            position: absolute;
            left:3rem;
            top: 0.15rem;
        }
        .task6{
            width: 1.3rem;
            position: absolute;
            left:0.9rem;
            top: 0.8rem;
        }
        .task5{
            width: 2.5rem;
            position: absolute;
            left:1.9rem;
            top: 2.1rem;
        }
        .task4{
            width: 2.2rem;
            position: absolute;
            left:4.5rem;
            top: 2.7rem;
        }
        .task3{
            width: 1.6rem;
            position: absolute;
            left:1.4rem;
            top: 4rem;
        }
        .task2{
            width: 1.6rem;
            position: absolute;
            left:4rem;
            top: 5.1rem;
        }
        .task1{
            width: 1.8rem;
            position: absolute;
            left:1.7rem;
            top: 6.5rem;
        }
        .taskp{
            width: 100%;
            font-size: 14px;
            line-height: 15px;
            font-weight: 700;
            color: #ffffff;
            text-align: center;
            position: absolute;
            top: 8.7rem;
            left: 50%;
            transform: translate(-50%,0);
        }
        .taskbutton{
            width: auto!important;
            font-size: 14px!important;
            position: absolute;
            top: 9.2rem;
            left: 50%;
            transform: translate(-50%,0)
        }
    }
</style>
