<template>
    <div class="taskdbg">
        <div  
        :class="{'task1':taskid == 1,'task2':taskid == 2,'task3':taskid == 3,'task4':taskid == 4,'task5':taskid == 5,'task6':taskid == 6,'task7':taskid == 7,'task8':taskid == 8}"
        class="task">
        </div>
        <div
        class="taskbtnbox" >
            <button @click="goBack()" class="mybutton bc-blue">返回</button>
            <button @click="goNextTask()" class="mybutton bc-blue">下一个任务</button>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            taskid:''
        }
    },
    mounted(){
        this.taskid = parseInt(this.$route.params.taskid)
    },
    methods:{
        goBack(){
            this.$router.push(`/team/task`)
        },
        goNextTask(){
            if(this.taskid == 8){
                 this.$dialog.toast({
                    mes: '您已看完全部任务',
                    timeout: 1500
                });
            }else{
                this.taskid = this.taskid + 1
            }
            this.$router.push(`/team/taskdetails/${this.taskid}`)
        }
    }
}
</script>

<style lang="less" scoped>
.taskdbg{
    width: 100%;
    height: 100%;
    position: relative;
}
    .task{
        margin-top: 0.5rem;
        width: 90%;
        height: 100%;
        position: relative;
    }

    .task1{ background: url('/static/task/task1_d.png') no-repeat; background-size: 100%;float: left;}
    .task2{ background: url('/static/task/task2_d.png') no-repeat; background-size: 100%;float: right;}
    .task3{ background: url('/static/task/task3_d.png') no-repeat; background-size: 100%;float: left;}
    .task4{ background: url('/static/task/task4_d.png') no-repeat; background-size: 100%;float: right;}
    .task5{ background: url('/static/task/task5_d.png') no-repeat; background-size: 100%;float: left;}
    .task6{ background: url('/static/task/task6_dd.png') no-repeat; background-size: 100%;float: right;}
    .task7{ background: url('/static/task/task7_dd.png') no-repeat; background-size: 100%;float: left;}
    .task8{ background: url('/static/task/task8_d.png') no-repeat; background-size: 100%;float: right;}

    .taskbtnbox{
        clear: both;
        position: absolute;
        top: 9.8rem;
        text-align: center;
        width: 100%;
        button{
            width: 2.6rem;
            font-size: 14px;
        }
    }
</style>
