<template>
    <div class="homebg">
        <img class="topgif" src="/static/1.gif" alt="">
        <img class="main" @touchstart="touchstart()" @touchmove="touchmove()" @touchend="touchend()" src="/static/home.png" alt="">
        <!-- <img @click="goVideo()" class="down" src="../../assets/home/down.png" alt=""> -->
        <button @click="goVideo()" style="width:auto!important" class="down bc-blue mybutton">了解活动详情</button>
        <img  class="bottomgif" src="/static/2.gif" alt="">
    </div>
</template>

<script>
export default {
    mounted(){
        
    },
    methods:{
        goVideo(){
              this.$router.push('/video1')
        },
        touchstart(){
            event.preventDefault() //阻止默认事件（长按的时候出现复制）
            this.startX = event.changedTouches[0].pageX
            this.startY = event.changedTouches[0].pageY
        },
        touchmove() { // 如果手指有移动，则取消所有事件，此时说明用户只是要移动而不是长按
            event.preventDefault()
            var moveEndX = event.changedTouches[0].pageX
            var moveEndY = event.changedTouches[0].pageY
            var X = moveEndX - this.startX
            var Y = moveEndY - this.startY
            if (Math.abs(X) > Math.abs(Y) && X > 0) {
                // alert('left 2 right')
            } else if (Math.abs(X) > Math.abs(Y) && X < 0) {
                // alert('right 2 left')
            } else if (Math.abs(Y) > Math.abs(X) && Y > 0) {
                // alert('top 2 bottom')
            } else if (Math.abs(Y) > Math.abs(X) && Y < 0) {
                // alert('bottom 2 top')
                this.$router.push('/video')
            } else {
                // alert('just touch')
            }
        },
        touchend() { // 手释放，如果在500毫秒内就释放，则取消长按事件
            
        }

    }
}
</script>
<style lang="less" scoped>
    .homebg{
        width: 100%;
        height: 100%;
        background: url('https://cfow-q3.gypserver.com/static/teambg.jpg') top;
        background-size: cover;
        overflow: hidden;
        padding-top: 0.4rem;
        position: relative;
        .main{
            width: 100%;
            z-index: 2;
            position: relative;
        }
        .down{
            // width: 8%;
            position: absolute;
            left: 50%;
            bottom: 0.6rem;
            transform: translate(-50%,0);
            // animation: updown 1s linear infinite;
            z-index: 99;
        }
    }
    /* 上下跳动 */
    
    @-webkit-keyframes updown {
        0% {
            transform: translate(-50%, 0%);
        }
        50% {
            transform: translate(-50%, 10%);
        }
        100% {
            transform: translate(-50%, 0%);
        }
    }
    
    @keyframes updown {
        0% {
            transform: translate(-50%, 0%);
        }
        50% {
            transform: translate(-50%, 10%);
        }
        100% {
            transform: translate(-50%, 0%);
        }
    }
</style>
