<template>
    <div class="loading">
        <div class="processbg">
              <div ref="loadingp" class="process">
                  <div class="end">
                    <img @load="loadImage" src="https://cfow-q3.gypserver.com/static/loadend.png" alt="">
                    <span>{{percent}}</span>
                  </div>
              </div>
         </div>
         <p>loading......</p>
    </div>
</template>

<script>
import {wxshare} from '@/libs/wxapi'
import {getOauth,getTeam} from '@/apis'
export default {
data () {
    return {
      count: 0,
      percent:'',
      imglength:0
    }
  },
  created(){
      this.comfrom = localStorage.getItem('comfrom')
  },
  mounted: function() {
      this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
  },
  methods: {
    loadImage(){
        this.preload()
    },
    preload: function() {
      let imgs = [
        "static/1.gif",
        "static/2.gif",
        "static/home.jpg",
        "static/teambg.jpg",
        "static/share.jpg",
        "static/share_1.jpeg",
        "static/share_2.jpeg",
        "static/share_3.jpeg",
        "static/home.png",
        "static/boxbg.png",
        "static/boxbg2.png",
        "static/boxbg3.png",
        "static/braveicon.png",
        "static/braveicon2.png",
        "static/popbrave.png",
        "static/bravetxt.png",
        "static/captain.png",
        "static/circle-b.png",
        "static/circle-g.png",
        "static/circle-br.png",
        "static/defendsea.png",
        "static/_onem.png",
        "static/_fivem1.png",
        "static/_fivem2.png",
        "static/_fivem3.png",
        "static/sixm.png",
        "static/light.png",
        "static/member.png",
        "static/person.png",
        "static/smarticon.png",
        "static/smarticon2.png",
        "static/popsmart.png",
        "static/smarttxt.png",
        "static/strongicon.png",
        "static/strongicon2.png",
        "static/popstrong.png",
        "static/strongtxt.png",
        "static/task.png",
        "static/taskbg1.png",
        "static/tasktitle.png",
        "static/task/task1_d.png",
        "static/task/task1.png",
        "static/task/task2_d.png",
        "static/task/task2.png",
        "static/task/task3_d.png",
        "static/task/task3.png",
        "static/task/task4_d.png",
        "static/task/task4.png",
        "static/task/task5_d.png",
        "static/task/task5.png",
        "static/task/task6_dd.png",
        "static/task/task6.png",
        "static/task/task7_dd.png",
        "static/task/task7.png",
        "static/task/task8_d.png",
        "static/task/task8.png"
      ]
      this.imglength = imgs.length

      for (let img of imgs) {
        let image = new Image()
        image.src = img
        image.onload = () => {
          this.count++
           // 计算图片加载的百分数，绑定到percent变量
          let percentNum = Math.floor(this.count / this.imglength * 100)
          this.percent = `${percentNum}%`
          this.$refs.loadingp.style.width = `${percentNum}%`
        }
      }

    },
  },
  watch: {
    count: function(val) {
      // console.log(val)
      if (val === this.imglength && this.userInfo.openid) {
        //图片加载完成后跳转页面
        this.$dialog.loading.open();
        //获取当前用户的战队信息
        getTeam(this.userInfo.openid).then(res=>{
          this.$dialog.loading.close();
          console.log(res.data)
          if(res.data.Status){
            //有战队
            localStorage.setItem('hasTeam',res.data.data[0].TeamId)//当前用户有战队
            wxshare(res.data.data[0].Category,res.data.data[0].TeamId)//微信分享 有战队 
            this.$router.push({
              path:'/team/member',
                query:{
                  ids:res.data.data[0].Category,
                  teamid:res.data.data[0].TeamId
                }
              })
          }else{
            //未加入战队
            localStorage.setItem('hasTeam','')//当前用户无战队
            //判断是否从邀请页面来 
            if(this.comfrom){
              let Request = JSON.parse(this.comfrom)
              this.$router.push({
                path:'/team/member',
                  query:{
                    ids:Request.ids,
                    teamid:Request.teamid
                  }
                })
              }else{
                  wxshare()//微信分享无战队情况
                  this.$router.push({path: '/home'})
              }

          }
        })
      }
    }
  }
}
</script>

<style scoped lang="less">
    .loading{
        width: 100%;
        height: 100%;
        background: #000000;
        padding-top: 6rem;
        p{color: #ffffff;
        text-align: center;margin-top: 15px;}
    }
    .processbg{
        margin: 0 auto;
        width: 75%;
        height: 0.5rem;
        background: url('/static/processbg.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
        overflow: inherit;
        padding: 1px 0.3rem 1px 0.4rem;
        display: flex;
        z-index: 3;
        box-sizing: border-box;
        z-index: 1;
        .process{
            height: 0.3rem;    
            overflow: inherit;
            position: relative;
            background: #20498a;
            z-index: 2;
            display: flex;
            // .pro{
            //     width: 100%;
            //     height: 0.7rem;    
            //     position: relative;
            //    }
              .end{
                  // height: 0.8rem;
                  width: 57px;
                  position: absolute;
                  top: 5px;
                  right: -50px;
                  transform: translate(-60%,-25%);
                  z-index: 3;
                  span{
                      position: absolute;
                      top: -10px;
                      left: -5px;
                      color: #ffffff;
                      font-weight: 700;
                      z-index: 3;
                  }
                  img{
                    width: 57px;
                    height: 34px;
                  }
                }
            }
        }
</style>
