<template>
    <div class="videobg">
        <div ref="roatev" class="roatev">
            <div class="videobox">
                <img @click="goNext()" class="right" src="../../assets/right.png" alt="">
                <!-- <span class="fixep" @click="goNext()" v-show="!showNext">观看视屏{{sencond}}s后可进入下一页面</span> -->
                <!-- <span class="fixep" @click="goNext()" v-show="showNext">点击进入下一页面</span> -->
                <!-- <button v-show="!disabled" @click="goNext()" class="fixeb bc-blue">点击进入下一页面</button> -->
                <!-- <video class="video1" ref="video1" id="video1"  autoplay="autoplay" loop="loop" controls
                src="http://video.kaishiba.com/indexbackground.mp4?20181219">
                <source data-src="http://video.kaishiba.com/indexbackground.mp4?20181219" type="video/mp4">
                </video> -->
                <img v-show="videoimg" class="videoimg" src="/static/videobg.png" alt="">
                <video @touchstart="touchstart()" @touchmove="touchmove()" @touchend="touchend()"
                ref="video2" id="video2" class="video2"  playsinline=""  loop="loop"
                webkit-playsinline="false" x5-playsinline="" x5-video-player-type="h5"
                x5-video-player-fullscreen="false" x-webkit-airplay="true" preload="auto" 
                src="../../assets/video.mp4">
                <source src="../../assets/video.mp4" type="video/mp4">
                </video>
                <img v-show="!isplay" @click="play()" class="start" src="../../assets/start.png" alt="">
            </div>
       
        </div>
        <div v-if="!showVideo" @click="showVideof()" class="popup">
            <img class="popimg" src="../../assets/home/video.png" alt="">
        </div>
    </div>
</template>

<script>
let myVid
export default {
    data(){
        return{
            sencond:15,
            showNext:false,
            isplay:false,
            width:document.body.offsetWidth,
            height:document.body.offsetHeight,
            showVideo:false,
            videoimg:true
        }
    },
    mounted(){
        let that = this
        this.$refs.roatev.style.width = `${this.height}px`
        this.$refs.roatev.style.height = `${this.width}px`
        this.$refs.roatev.style.marginLeft = `${this.width}px`
       // window.addEventListener("orientationchange",     
        // function () {
        //     if (window.orientation === 180 || window.orientation === 0) {
        //     // 竖屏状态
        //         that.$refs.video2.style.width = `${that.height}px`
        //         that.$refs.video2.style.height = `${that.width}px`
        //         that.$refs.video2.style.left = `${that.width}px`
        //         that.$refs.video2.classList.add('video2')
        //     }
        //     if (window.orientation === 90 || window.orientation === -90) {
        //     // 横屏状态
        //         that.$refs.video2.style.width = '100%'
        //         that.$refs.video2.style.height = 'auto'
        //         that.$refs.video2.classList.remove('video2')
        //         console.log(that.$refs.video2.classList)
        //     }
        //     }, false);
 
        this.$refs.video2.addEventListener("click",function(){
            if(!that.$refs.video2.paused){
                that.isplay = false
            }else{
                that.isplay = true
            }
        })
    	// myVid = document.getElementById("video1");
        //使用事件监听方式捕捉事件
        this.$refs.video2.addEventListener("timeupdate",function(){
            console.log(that.$refs.video2.currentTime)
            that.sencond = 15 - Math.floor(that.$refs.video2.currentTime)
            if(that.$refs.video2.paused){
                that.isplay = false
            }else{
                that.isplay = true
            }
            //显示当前播放进度
            if(Math.floor(that.$refs.video2.currentTime) >= 15){
                that.showNext = true;
            }            
        },false);
         
    },
    methods:{
        goNext(){
            this.$router.push('/team/task')
        },
        play(){
            this.isplay = true
        },
        showVideof(){
            this.showVideo = true
        },
        touchstart(){
            event.preventDefault() //阻止默认事件（长按的时候出现复制）
            this.startX = event.changedTouches[0].pageX
            this.startY = event.changedTouches[0].pageY
        },
        touchmove() { // 如果手指有移动，则取消所有事件，此时说明用户只是要移动而不是长按
            event.preventDefault()
            var moveEndX = event.changedTouches[0].pageX
            var moveEndY = event.changedTouches[0].pageY
            var X = moveEndX - this.startX
            var Y = moveEndY - this.startY
            if (Math.abs(X) > Math.abs(Y) && X > 0) {
                // alert('left 2 right')
            } else if (Math.abs(X) > Math.abs(Y) && X < 0) {
                // alert('right 2 left')
            } else if (Math.abs(Y) > Math.abs(X) && Y > 0) {
                // alert('top 2 bottom')
            } else if (Math.abs(Y) > Math.abs(X) && Y < 0) {
                // alert('bottom 2 top')
                this.$router.push('/team/task')
            } else {
                // alert('just touch')
            }
        },
        touchend() { // 手释放，如果在500毫秒内就释放，则取消长按事件
            
        }
    },
    watch:{
        isplay(newVal){
            if(newVal){
                this.$refs.video2.play()
                this.videoimg = false;
                // timer = setInterval(()=>{
                //     this.sencond = this.sencond - 1
                //     if(this.sencond == 1){
                //         clearInterval(timer)
                //     }
                // },1000)
            }else{
                this.$refs.video2.pause()
                this.videoimg = true;
                // clearInterval(timer)
            }
        }
    }
}
</script>

<style  lang="less"> 
    
    .right{
        position: absolute;
        z-index: 3;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
     .start{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .videobg{
        background: #000000;
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        .roatev{
            position: relative;
            transform:rotate(90deg);
            transform-origin:0 0;
            .videobox{
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 480px;
                height: 320px;
                .videoimg{
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
                .video2{ 
                    width: 100%;
                    height: 100%;
                }    
            }
        }
        .video1{
            width: 100%;
            position: absolute;
            top: 40%;
            transform: translate(0,-50%);
        }
        span{
            position: absolute;
            z-index: 2;
        }
        
        .fixep{
            position: absolute;
            top: 90px;
            left: 28px;
            transform:rotate(90deg);
            color: #ffffff;
            z-index: 2;
            transform-origin:0 0;
        }
        .fixeb{
            position: absolute;
            bottom:30%;
            left: 50%;
            transform: translate(-50%,0);
            font-size: 16px;
        }
    }
    .popup{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #222222;
        z-index: 4;
        overflow: hidden;
        .popimg{
            width: 100%;
        }
    }
</style>
