<template>
    <div class="videobg">
        <div ref="roatev" class="roatev">
            <div ref="videobox" class="videobox">
                <img v-show="videoimg" class="videoimg" src="/static/videobg1.png" alt="">
                <video @touchstart="touchstart()" @touchmove="touchmove()"  @ended="endVideo()"
                ref="video2" id="video2" class="video2"  playsinline="" 
                webkit-playsinline="false" x5-playsinline="" x5-video-player-type="h5"
                x5-video-player-fullscreen="false" x-webkit-airplay="true" preload="auto" 
                src="../../assets/video.mp4">
                <source src="../../assets/video.mp4" type="video/mp4">
                </video>
                <img v-show="!isplay" @click="play()" class="start" src="../../assets/start.png" alt="">
            </div>
       
        </div>
         <img @click="goNext()" class="rightpng" src="../../assets/right.png" alt="">
        <div v-if="!showVideo" @click="showVideof()" class="popup">
            <img class="popimg" src="../../assets/home/video.png" alt="">
        </div>
    </div>
</template>

<script>
let myVid
export default {
    data(){
        return{
            sencond:15,
            isplay:false,
            width:document.body.offsetWidth,
            height:document.body.offsetHeight,
            showVideo:false,
            videoimg:true
        }
    },
    created(){
        if(bgmmusic.paused) {
            this.$root.isplay = false
        } else {
            this.$root.isplay = true
        }
        console.log(bgmmusic)
        // bgmmusic.pause();
        // this.$root.bgmiconUrl = 'https://cfow-q3.gypserver.com/static/bgmicon_p.png'
    },
    mounted(){
        this.$refs.roatev.style.width = `${this.height}px`
        this.$refs.roatev.style.height = `${this.width}px`
        this.$refs.roatev.style.marginLeft = `${this.width}px`
        // videobox
        let that = this
        this.$refs.video2.addEventListener("touchend",function(){
          
            if(!that.$refs.video2.paused){
                that.isplay = false
                that.$refs.video2.pause()
            }else{
                bgmmusic.pause();
                that.$root.bgmiconUrl = 'https://cfow-q3.gypserver.com/static/bgmicon_p.png'
                that.isplay = true
                that.$refs.video2.play()
            }
        })
         
    },
    methods:{
        //视频播放 结束后显示 视屏背景图片和播放按钮
        endVideo(){
            this.videoimg = true
            this.isplay = false
        },
        //跳到下一页
        goNext(){
            if(this.$root.isplay){
                bgmmusic.play();
                this.$root.bgmiconUrl = 'https://cfow-q3.gypserver.com/static/bgmicon.png'
            }else{
                bgmmusic.pause();
                this.$root.bgmiconUrl = 'https://cfow-q3.gypserver.com/static/bgmicon_p.png'
            }
            console.log('gonext--' + bgmmusic.paused)
            this.$router.push('/team/task')
        },
        //播放视屏
        play(){
            this.isplay = true
            this.videoimg = false;
            bgmmusic.pause();
            this.$root.bgmiconUrl = 'https://cfow-q3.gypserver.com/static/bgmicon_p.png'
            console.log('playcick' + bgmmusic.paused)
            this.$refs.video2.play()
        },
        showVideof(){
            this.showVideo = true
        },
        touchstart(){
            event.preventDefault() //阻止默认事件（长按的时候出现复制）
            this.startX = event.changedTouches[0].pageX
            this.startY = event.changedTouches[0].pageY
        },
        touchmove() { // 如果手指有移动，则取消所有事件，此时说明用户只是要移动而不是长按
            event.preventDefault()
            var moveEndX = event.changedTouches[0].pageX
            var moveEndY = event.changedTouches[0].pageY
            var X = moveEndX - this.startX
            var Y = moveEndY - this.startY
            if (Math.abs(X) > Math.abs(Y) && X > 0) {
                // alert('left 2 right')
            } else if (Math.abs(X) > Math.abs(Y) && X < 0) {
                // alert('right 2 left')
            } else if (Math.abs(Y) > Math.abs(X) && Y > 0) {
                // alert('top 2 bottom')
            } else if (Math.abs(Y) > Math.abs(X) && Y < 0) {
                // alert('bottom 2 top')
               this.goNext()
            } else {
                // alert('just touch')
            }
        }
    }
}
</script>

<style  lang="less"> 
    
    .rightpng{
        position: absolute;
        z-index: 8;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%,0) rotate(90deg);
    }
     .start{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .videobg{
        background: #000000;
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        .roatev{
            position: relative;
            transform:rotate(90deg);
            transform-origin:0 0;
            .videobox{
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                // width: 480px;
                // height: 320px;
                 width: 100%;
                height: 100%;
                .videoimg{
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
                .video2{ 
                    width: 100%;
                    height: 100%;
                }    
            }
        }
        .video1{
            width: 100%;
            position: absolute;
            top: 40%;
            transform: translate(0,-50%);
        }
        span{
            position: absolute;
            z-index: 2;
        }
        
        .fixep{
            position: absolute;
            top: 90px;
            left: 28px;
            transform:rotate(90deg);
            color: #ffffff;
            z-index: 2;
            transform-origin:0 0;
        }
        .fixeb{
            position: absolute;
            bottom:30%;
            left: 50%;
            transform: translate(-50%,0);
            font-size: 16px;
        }
    }
    .popup{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #222222;
        z-index: 99;
        overflow: hidden;
        .popimg{
            width: 100%;
        }
    }
</style>
