<template>
  <div id="app">
      <img id='bgmicon' @click="PlayorPaused" :src=$root.bgmiconUrl width="40px" height="40px" alt="">
      <audio  id="bgmmusic" preload loop="loop" src="https://cfow-q3.gypserver.com/static/bgm/bgm_.mp3">
      您的浏览器不支持 audio 标签。</audio>
    <router-view/>
  </div>
</template>
<script>
let bgmmusic
export default {
  name: 'App',
  data(){
    return{
    }
  },
  created(){
    //  alert(location.href)
    var ua = navigator.userAgent.toLowerCase();
    var isWeixin = ua.indexOf('micromessenger') != -1 ? true : false;
     //在微信浏览器下调取微信授权接口
     if(isWeixin){
      if(location.href.indexOf("openid") == -1){
          window.location = `https://cfow-q3.gypserver.com/OceanQueue/Oauth?redirect_url=${escape(location.href)}`
      }else{
        var Request = new Object();
        Request = this.GetRequest();//拿到当前路径参数
        localStorage.setItem('userInfo',JSON.stringify(Request))
        console.log('路径所有参数'+JSON.stringify(Request))
        //判断是否从邀请页面来 
        if(location.href.indexOf("teamid") != -1){
          let comfrom =  {
              ids:Request.ids,
              teamid:Request.teamid
          }
          localStorage.setItem('comfrom',JSON.stringify(comfrom))
        }else{
            localStorage.removeItem('comfrom')
        }
        //授权过后
        this.$router.push({path: '/loading'})
      }
     }
   
  },
  mounted(){
    this.audioPlay()
  },
  methods:{
      //获取链接后面的所有参数
     GetRequest() {
        var url = location.href; 
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
          var str = url.split("?")
          str.forEach(item =>{
            if(item.indexOf('&') != -1){
              var  strs = item.split("&");
              for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
              }
            }
            
          })
         
        }
        return theRequest;
      },
      // 音乐i自动播放
      audioPlay() {
          bgmmusic = document.getElementById('bgmmusic')
          console.log(bgmmusic)
          document.addEventListener('WeixinJSBridgeReady', function() {
              bgmmusic.play();
          }, false);
      },
      PlayorPaused(){
          console.log('bgmmusic.paused--------' + bgmmusic.paused )
          if(bgmmusic.paused) {
              this.$root.bgmiconUrl = 'https://cfow-q3.gypserver.com/static/bgmicon.png'
              bgmmusic.play();
          } else {
              this.$root.bgmiconUrl = 'https://cfow-q3.gypserver.com/static/bgmicon_p.png'
              bgmmusic.pause();
          }
      }
  }
}
</script>

<style lang="less">
#app {
  height: 100%;
  width: 100%;
  background: url('https://cfow-q3.gypserver.com/static/teambg.jpg') top;
  background-size: cover;
  overflow: hidden;
}
 #bgmicon{
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 9999999;
    }
 .mb-15{
        margin-bottom: 15px;
    }
    .mb-10{
      margin-bottom: 10px;
  }
 .btnbox{
        margin-top: -0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-bottom: 20px;
    }
    .f-12{font-size: 12px!important;}
    .mybutton{
      width: 2.6rem;
      padding: 0 15px;
      color: #ffffff;
      font-size: 16px;
      font-weight:bolder;
      border: none;
      line-height: 28px;
      border-radius: 10px;
      z-index: 999;
  }
    .bc-blue-deep{background: #15307d}
    .bc-blue{background: #1da0fb}
    .bc-green{background: #81bc34}
    .bc-green-deep{background: #065134}
    .bc-brown{background: #f19643}
    .bc-brown-deep{background: #972d2c}


  .topgif{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1
    }
    .bottomgif{
        position: absolute;
        bottom: 10%;
        width: 150%;
        z-index: 1
    }
    .scalgif{animation: scale 1.5s linear infinite;}
     /* 缩小放大 */
    @-webkit-keyframes scale {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes scale {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }

    /* 旋转 */
    .roate{animation: myrotate 50s infinite linear;}
    @-webkit-keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }


    
</style>
