<template>
    <div class="comfirm">
         <div class="wbox">
             <p>进入战队的机会很稀缺<br/>你只有1次机会选队哦！</p>
             <div class="combtn">
                <slot></slot>
            </div> 
        </div>   
           
    </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
    .comfirm{
       position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .wbox{
            position: relative;
            width: 5rem;
            height: 4.5rem;
            border-radius: 10px;
            width: 90%;
            background: #ffffff;
            color: #15307d;
            padding-top: 1.5rem;
            p{
                font-size: 24px;
                font-weight: 700;
                text-align: center;
            }
        }
        .combtn{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 0.65rem;
            button{
                width: 2.6rem;
                padding: 0 15px;
                color: #ffffff;
                font-size: 16px;
                font-weight:bolder;
                border: none;
                line-height: 32px;
                border-radius: 10px;
                background: #15307d;
            }
        }
    }
</style>
